body {
    background-color: #EEF9BF;
    font-family: 'Roboto', sans-serif;
    display: flex; 
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}

header h1 {
    font-size: 36px;
    font-weight: 700;
    color: #75B79E;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 47px;
}

main .carta {
    width: 117px;
    height: 146px;
    position: relative;
    margin-bottom: 34px;

}
.carta img {
    width: 100px;
    height: 100px;
}

.face {
    background-color: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .back-face {
    transform: rotateY(180deg);
  }

  .carta:active .back-face {
    transform: rotateY(0deg);
  }

  .carta:active .front-face {
    transform: rotateY(-180deg);
  }

  /* Desktop */
  @media (min-width: 600px){ /*768px*/
    header h1 {
      font-size: 56px;
      font-weight: 700;
    }
    main {
      display: flex;
      flex-wrap: wrap;
      margin-right: 122px;
      margin-left: 122px;
      justify-content: center;
    }

    main .carta {
      margin-right: 17px;
      margin-left: 17px;
    }

  }